body {
    font-family: "Roboto", sans-serif;
    color: var(--prymary-text-color);
    background-color: var(--prymary-bg-color);
    font-size: 16px;
    letter-spacing: 0.2em;
}

h1,
h2,
h4,
h5,
h6,
p {
    margin: 0;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
   
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

:root {
    --prymary-font: "Roboto", sans-serif;
    --secondary-font: "Ralewat", sans-serif;

    --prymary-bg-color: #ffffff;
    --secondary-bg-color: #2e2f42;
    --tertiary-bg-color: #f4f4fd;
    --quaternary-bg-color: #ffffff;

    --prymary-text-color: #434455;
    --secondary-text-color: #2e2f42;
    --tertiary-text-color: #ffffff;
    --quaternary-text-color: #f4f4fd;

    --prymary-accent-color: #4d5ae5;
    --secondary-accent-color: #404bbf;
    --tertiary-accent-color: #31d0aa;

    --prymary-boarder-color: #e7e9fc;
    --secondary-boarder-color: #8e8f99;

    --social-icon-color: #f4f4fd;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.link {
    text-decoration: none;
}