.container-footer {
    align-items: baseline;
}
.footer-txt {
    color: var(--cloud, #F4F4FD);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    max-width: 264px;
}
.container-footer-social {}

.logotip-text {
    text-align: center;
    
}
.footer-txt-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.list-socials-footer {
    display: flex;
    gap: 16px;
    justify-content: center;
}
.item-social-footer {
    width: 40px;
    height: 40px;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-social-footer {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-social-icon-footer {
    fill: #F4F4FD;
    width: 24px;
    height: 24px;
}
.list-social-footer:hover {
    background-color: var(--tertiary-accent-color);
}
.list-social-footer:focus {
    background-color: #31d0aa;
}
.footer-main {
    background-color: #2e2f42;
    padding: 100px 0;
}
.link-footer {
    color: #f4f4fd;
}
.footer-slogan {
    display: inline-block;
    margin-bottom: 16px;
}
.container-form {
    margin-left: auto;
}
.container-form-text {
    margin-bottom: 16px;
    margin-top: 72px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
}
.container-form-group {
    gap: 24px;
}
.container-form-label {
    gap: 24px;
}
.container-form-info {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}
.container-form-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin-top: 16px;
    display: inline-flex;
    padding: 8px 24px;
    gap: 16px;
    
}
.container-form-icon {
    margin-left: 16px;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.form-group {
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 288px;
        height: 623px;
        flex-shrink: 0;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.touch {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.touch:hover {
    background-color: #404bbf;
    border: none;
}
.touch:focus {
    background-color: #404bbf;
    border: none;
}
.touch-form {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.touch:focus .touch-form {
    fill: #ffffff;
}
.modall-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}
.form-info {
    margin-bottom: 8px;
}
.name {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--secondary-boarder-color);
    display: block;
    margin-bottom: 4px;
}
.form-name {
    position: relative;
}
.input-form-name {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-form-name:focus {
    border-color: #4D5AE5;
    outline: transparent;
}
.name-icon {
    position: absolute;
    fill: #2E2F42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-form-name:focus+.name-icon {
    fill: #4D5AE5;
}
.form-blok {
    margin-bottom: 16px;
}
.form-blok-text {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-blok-text:focus {
    border-color: #4D5AE5;
}
.container-checbox {
    margin-bottom: 24px;
}
.input-form-checbox {}
.visually-hidden {}
.default-checkbox:checked+.box-text>.review-form-own-checkbox {
    background-color: var(--secondary-accent-color);
    border: none;
    fill: var(--social-icon-color);
}
.box-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--secondary-boarder-color);
}
.review-form-own-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}
.review-form-own-checkbox:checked+label>span {
    background-color: var(--secondary-accent-color);
    border: none;
    fill: var(--social-icon-color);
}
.container-checbox-text {
    color: var(--prymary-accent-color);
}
.form-button {
    font-family: "Roboto", sans-serif;
    display: block;
    min-width: 169px;
    height: 56px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


        @media screen and (min-width: 768px) {
            .footer-main {
                display: flex;
            }
            .container-footer {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 72px 24px;
                max-width: 550px;
                align-items: start;
            }
            .footer-txt {
                max-width: 264px;
            }
            .container-footer-social {
                display: block;
            }
            .footer-txt-social {
                text-align: left;
            }
            .container-form-text {
                display: flex;
                flex-direction: row;
                gap: 24px;
                align-items: center;
            }
            .mobile-menu {
                display: none;
            }
}

@media screen and (min-width: 1158px) {
        .footer-main {
            padding: 100px 0;
        }
        .container-footer {
            display: flex;
            align-items: baseline;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        .mobile-menu {
                display: none;
        }
 } 