.container-footer {

    
    align-items: baseline;
}

.footer-txt {
    color: var(--cloud, #F4F4FD);
    /* Body */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    max-width: 264px;
}

.container-footer-social {}

.logotip-text {
    margin-right: 120px;
}

.footer-txt-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.list-socials-footer {
    display: flex;
    gap: 16px;
}

.item-social-footer {
    width: 40px;
    height: 40px;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-social-footer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-social-icon-footer {
    fill: #F4F4FD;
    width: 24px;
    height: 24px;
}

.list-social-footer:hover {
    background-color: var(--tertiary-accent-color);
}

.list-social-footer:focus {
    background-color: #31d0aa;
}

.footer-main {
    background-color: #2e2f42;
    padding: 100px 0;
}

.link-footer {
    color: #f4f4fd;
}

.footer-slogan {
    display: inline-block;
    margin-bottom: 16px;
}
.container-form {
    margin-left: auto;
}

.container-form-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.container-form-group {
   
    gap: 24px;
}

.container-form-label {
    gap: 24px;
}

.container-form-info {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

.container-form-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.container-form-icon {
    margin-left: 16px;
}