.listnav {
    display: none;
}
.address-list {
    display: none;
}
.heder-containerr {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logotip {
    display: flex;
    align-items: center;
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logotip-studio {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
}
.span {
    color: #2e2f42;
}
.open-mobile-menu {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}
.open-mobile-menu-icon {
    stroke: #2f2f37;
}
.mobile-menu {
    padding: 72px 24px 40px 16px;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 9999;
}
.touch {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.touch:hover {
    background-color: #404bbf;
    border: none;
}
.touch:focus {
    background-color: #404bbf;
    border: none;
}
.touch-form {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.touch:focus .touch-form {
    fill: #ffffff;
}
.listnav-page-menu {
    gap: 40px;
    margin: 0;
    padding: 24px 0;
}
.mobile-studio {
    color: #404BBF;
}
.address-list-link-menu:hover {
    color: #404bbf;
}
.address-list-link-menu:focus {
    color: #404bbf;
}
.listnav-menu {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.more {
    color: var(--OCEAN, #404BBF);
}
.list-address-menu {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    gap: 40px;
}
.address-list-menu {
    margin-top: 168px;
    margin-bottom: 48px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400px;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.address-list-link-menu {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-socials {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.item-social {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}
.list-social {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.list-social:hover,
.list-social:focus {
    background-color: #404bbf;
}
.item-social-icon {
    width: 16px;
    height: 16px;
}

        @media screen and (min-width: 768px) {
        .open-mobile-menu-icon {
            display: none;
        }
        .heder-content {
            height: 72px;
            flex-shrink: 0;
            box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
                    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
                    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
        }
        .container {
            width: 1158px;
            margin: 0 auto;
            padding: 0 15px 0 15px;
        }
        .heder-containerr {
            display: flex;
            align-items: center;
        }
        .search {
            display: flex;
            align-items: center;
        }
        .logotip {
            font-family: "Raleway", sans-serif;
            color: #4d5ae5;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            margin-right: 76px;
            margin-left: 16px;
        }
        .span {
            color: #2e2f42;
        }
        .logotip-studio {
            font-family: "Raleway", sans-serif;
            color: #2e2f42;
        }
        .listnav-page {
            display: flex;
            gap: 40px;
            margin: 0;
            padding: 24px 0;
        }
        .address-item {}
        .address-list-link:hover {
        color: #404bbf;
        }
        .address-list-link:focus {
            color: #404bbf;
        }
        .listnav {
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.32px;
            color: #2e2f42;
            list-style-type: none;
            display: block;
        }
        .last {
            margin-right: 0;
        }
        .gallery {
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .more {
            padding: 27px 0;
            position: relative;
            color: #404bbf;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        } 
        .more::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;
            width: 100%;
        }
        .gallery:hover {
            color: #404bbf;
        }
        .gallery:focus {
            color: #404bbf; 
        } 
        .list-address {
            list-style-type: none;
            margin: 0;
            padding-left: 0;
            display: flex;
            gap: 40px;
        }
        .address-list {
            margin-left: auto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400px;
            line-height: 24px;
            letter-spacing: 0.32px;
            display: block;
        }
        .address-list-link {
            color: #434455;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .open-mobile-menu {
        }
    }

            @media screen and (min-width: 1158px) {
                .open-mobile-menu-icon {
                    display: none;
                    }
                .heder-content {
                    border-bottom: 1px solid #e7e9fc;
                    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
            }
                .container {
                    width: 1158px;
                    margin: 0 auto;
                    padding: 0 15px 0 15px;
            }
                .heder-containerr {
                    display: flex;
                    align-items: center;
            }
                .search {
                    display: flex;
                    align-items: center;
            }
                .logotip {
                    font-family: "Raleway", sans-serif;
                    color: #4d5ae5;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 1.17;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    margin-right: 76px;
            }
                .span {
                    color: #2e2f42;
            }
                .logotip-studio {
                    font-family: "Raleway", sans-serif;
                    color: #2e2f42;
            }
                .listnav-page {
                    display: flex;
                    gap: 40px;
                    margin: 0;
                    padding: 24px 0;
            }
                .address-item {}
                    
                .address-list-link:hover {
                    color: #404bbf;
            }
                .address-list-link:focus {
                    color: #404bbf;
            }
                .listnav {
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0.32px;
                    color: #2e2f42;
                    list-style-type: none;
            }
                .last {
                    margin-right: 0;
             }
                .gallery {
                    color: #2e2f42;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
                .more {
                    padding: 27px 0;
                    position: relative;
                    color: #404bbf;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
                .more::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    height: 4px;
                    background-color: #404bbf;
                    border-radius: 2px;
                    width: 100%;
            }
                .gallery:hover {
                    color: #404bbf;
            }
                .gallery:focus {
                    color: #404bbf;
            }
                .list-address {
                    list-style-type: none;
                    margin: 0;
                    padding-left: 0;
                    display: flex;
                    gap: 40px;
            }
                .address-list {
                    margin-left: auto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400px;
                    line-height: 24px;
                    letter-spacing: 0.32px;
            }
                .address-list-link {
                    color: #434455;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
                .open-mobile-menu {     
            } 
            } 
        
                