.listnav {
    display: none;
}
.address-list {
    display: none;
}
.heder-containerr {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logotip {
    display: flex;
    align-items: center;
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logotip-studio {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
}
.span {
    color: #2e2f42;
}
.open-mobile-menu {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}
.open-mobile-menu-icon {
    stroke: #2f2f37;
}
.mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 9999;
}
.touch {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.touch:hover {
    background-color: #404bbf;
    border: none;
}

.touch:focus {
    background-color: #404bbf;
    border: none;
}

.touch-form {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.touch:focus .touch-form {
    fill: #ffffff;
}