.section-button {
    background-color: #2e2f42;
    padding: 188px 0;
    margin: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice11.jpg);
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.container {
        width: 320px;
        margin: 0px auto;
        padding: 0px 15px;
}
.wrap {
    color: var(--WHITE, #FFF);
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.button {
        display: inline-flex;
        padding: 16px 32px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 4px;
        background: var(--IRIS, #4D5AE5);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

/* @madia screen end (min-width: 768px) { */

.section-button {
    background-color: #2e2f42;
    padding: 188px 0;
    margin: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice11.jpg);
    max-width: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrap {
    width: 496px;
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}

.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}
/* } */
/* @media screen and (min-width: 1158px) { */
        .section-button {
                background-color: #2e2f42;
                padding: 188px 0;
                margin: auto;
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice11.jpg);
                max-width: 1440px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        
            .wrap {
                color: var(--white, #FFF);
                text-align: center;
                /* Header 1 */
                font-family: Roboto;
                font-size: 56px;
                font-style: normal;
                font-weight: 700;
                line-height: 1.07;
                /* 107.143% */
                letter-spacing: 1.12px;
                margin: 0 auto;
                max-width: 496px;
                margin-bottom: 48px;
            }
        
            .button {
                background-color: #4D5AE5;
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.04em;
                color: #ffffff;
                cursor: pointer;
                display: block;
                min-width: 169px;
                height: 56px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                margin: 0 auto;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
        
            .button:hover {
                background-color: #404BBF;
            }
        
            .button:focus {
                background-color: #404BBF;
            }
    /* } */