.section-portfolio {
    padding: 120px 0 120px 0;
}
.team {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}
.list-item-text {
    text-align: center;
    margin-bottom: 8px;
}
.article-title-text {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.article-txt {}

.list-portfolio {
    padding-bottom: 0px;
    padding-left: auto;
    padding-right: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.item-portfolio {
    margin-bottom: 48px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-application-text {
    position: relative;
    overflow: hidden;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    Style border: 1px solid var(--CLOUD, #F4F4FD);
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.item-portfolio:hover .portfolio-text {
    transform: translateY(0%);
}
.item-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}
.portfolio-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--quaternary-text-color);
}
.container-application {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
}
.caption {
    line-height: 1.2;
    margin-bottom: 8px;
}
        @media screen and (min-width: 768px) {
        .section-portfolio {
            padding: 96px 0;
        }
        .list-portfolio {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 72px 24px;
        }
        .item-portfolio {
            text-align: center;
                background-color: #fff;
                border-radius: 0px 0px 4px 4px;
                width: calc((100% - 48px) / 2);
                box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        }
} 

    @media screen and (min-width: 1158px) {
            .section-portfolio {
                padding-top: 120px;
                padding-bottom: 120px;
            }
            .list-portfolio {
                flex-wrap: wrap;
            }
            .item-portfolio {
                width: calc((100% - 48px) / 3);
                box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
                transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
}