.aside {
    background-color: #F4F4FD;
    padding: 96px 0;
}
.team {
    color: var(--navyblue, #2E2F42);
    text-transform: capitalize;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-align: center;
    line-height: 1.11;
    margin-bottom: 72px;
}
.item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.container-team {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 32px 0;
}
.excerpt {
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        color: #2e2f42;
        font-family: Roboto;
        font-size: 20px;
        letter-spacing: 0.02em;
        text-transform: capitalize;    
        text-align: center;       
}
.article-txt-team {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
.aarticle-txt-team:hover {
    transform: translateY(0%);
}
.list-socials {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.item-social {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}
.list-social {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.list-social:hover,
.list-social:focus {
    background-color: #404bbf;
}
.item-social-icon-aside {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
svg {
    fill: var(--social-icon-color);
}
.item-social-icon-aside:focus {
    background-color: #404bbf;
    fill: css #f4f4fd;
}
.list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    }
.list-mobile {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}

        @media screen and (min-width: 768px) {
            .aside {
                
                text-align: center;
            }
            .team {
                text-align: center;
                margin-bottom: 72px;
                color: #2e2f42;
                font-size: 36px;
                font-weight: 700;
                letter-spacing: 0.02em;
                text-transform: capitalize;
                line-height: 1.11;
            }
            .item {
                text-align: center;
                background-color: #fff;
                border-radius: 0px 0px 4px 4px;
                box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
                max-width: 264рх;
                }
            .list {
                display: flex;
                flex-wrap: wrap;
                gap: 64px 24px;
            }
       
}