.list-socials {
   
    gap: 24px;
    justify-content: center;
}

.item-social {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.list-social {
    width: 100%;
    height: 100%;
    
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-social:hover,
.list-social:focus {
    background-color: #404bbf;
}

.item-social-icon {
    width: 16px;
    height: 16px;
}

svg {
    fill: var(--social-icon-color);
}

.item-social-icon:focus {
    background-color: #404bbf;
    fill: css #f4f4fd;
}

.aside {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team {
    color: var(--navyblue, #2E2F42);
    text-transform: capitalize;
    /* Header 2 */
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-align: center;
    line-height: 1.11;
    margin-bottom: 72px;
}

.list {

    list-style-type: none;
    margin: 0;
    padding-left: 0;
   
    gap: 24px;
}

.item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-portfolio {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
   
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.item-portfolio {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-application-text {
    position: relative;
    overflow: hidden;
}

.item-portfolio:hover .portfolio-text {
    transform: translateY(0%);
}

.article-txt:hover {
    transform: translateY(0%);
}

.item-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.author-article-img {
    background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
}

.portfolio-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--quaternary-text-color);
}

.container-application {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    position: relative;
    overflow: hidden;
}

.container-team {
    padding: 32px 0;
}

.caption {
    line-height: 1.2;
    margin-bottom: 8px;
}

.excerpt {
    line-height: 1.2;
    text-align: center;
    margin-bottom: 8px;
}