.section-text {
    padding-top: 96px;
    padding-bottom: 96px;
}
.list-text {
    gap: 72px;
    display: flex;
    flex-wrap: wrap;
}
.entry {
    width: calc((100% - 72px) / 4);
}
.preview {
}
.section-text-icon {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}
.section-icon {
   display: none;
}
.article-title {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize; 
}
.desc {
    line-height: 1.2;
    margin-bottom: 8px;
    font-size: 36px;
    text-align: center;
    font-weight: 700;
}
.article-txt {
    align-self: stretch;
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.32px;
    vertical-align: middle;
    width: 500;
}
    @media screen and (min-width: 768px) { 
        .section-text {    
        }
        .section-text-icon {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 24px;
        }
.desc {
    text-align: left;
    width: 264px;
}
        .list-text {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 72px;  
        }
        .preview {  
            width: 356px;
        }
        .section-text-icon {
            display: none;
        }
        .article-title desc {
            text-align: left;
            margin-bottom: 8px;
            font-size: 36px;
        }
        .article-txt {
            text-align: left;
            font-size: 16px;
            width: 500;
        }
 } 

            @media screen and (min-width: 1158px) {
                .section-text {
                    padding: 120px 0;
                }
                .list-text {
                    display: flex;
                    gap: 24px;
                    flex-wrap: nowrap;
                }
                .article-title {
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0.4px;
                }
                .preview {
                    width: calc((100% - 72px) / 4);
                }
                .section-text-icon {
                    display: flex;
                }
            }