.section-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 72px;
    width: 100%;
    height: 100%;
    padding: 72px 24px 40px 16px;
}
.list-text {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    gap: 8px;
}
.entry {
    width: calc((100% - 72px) / 4);
}
.preview {
    width: calc((100% - 72px) / 4);
    display: flex;
    width: 288px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.section-text-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}
.section-icon {
   display: none;
}
.article-title {
    calign-self: stretch;
     color: var(--NAVY-BLUE, #2E2F42);
        /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
        /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize; 
}
.desc {
    line-height: 1.2;
    margin-bottom: 8px;
}
.article-txt {
    align-self: stretch;
     color: var(--SLATE, #434455);
        /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
        /* 150% */
    letter-spacing: 0.32px;
    text-align: center;
    vertical-align: middle;
}
/* @madia screen and (min-width: 768px) { */


/* } */

/* @media screen and (min-width: 1158px) { */


/* } */