.section-text {
    display: flex;
    flex-direction: column;
    padding-top: 96px;
    padding-bottom: 96px;
}
.list-text {
    gap: 8px;
}
.entry {
    width: calc((100% - 72px) / 4);
}
.preview {
    width: calc((100% - 72px) / 4);
    display: flex;
    width: 288px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.section-text-icon {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}
.section-icon {
   display: none;
}
.article-title {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize; 
    text-align: center;
}
.desc {
    line-height: 1.2;
    margin-bottom: 8px;
}
.article-txt {
    align-self: stretch;
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-align: center;
    vertical-align: middle;
}
    @media screen and (min-width: 768px) { 
        .section-text {
            margin-top: 96px;
            padding-left: 16px;
            display: flex;
        }
        .section-text-icon {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 24px;
        }
        .list-text {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 72px;
        }
        .preview {
            flex-basis: calc((100% - 24px) / 2);
            padding-bottom: 72px;
        }
        .section-text-icon {
            display: none;
        }
        .article-title desc {
            text-align: left;
            margin-bottom: 8px;
            font-size: 36px;
        }
        .article-txt {
            text-align: left;
            font-size: 16px;
        }
 } 

            @media screen and (min-width: 1158px) {
                .section-text {
                    padding: 120px 0;
                }
                .list-text {
                    display: flex;
                    gap: 24px;
                    flex-wrap: nowrap;
                }
                .preview {
                    width: calc((100% - 72px) / 4);
                }
                .section-text-icon {
                    display: flex;
                }
            }